@import "../utilities/utilities";

/*Header Index*/

.header-index {
  @include estilo-header();
}

/*Header Frutas*/

.header-frutas {
  @include estilo-header();
  border: 1px solid #000;
  box-shadow: 2px 4px 7px orange;
}

/*Header Villanos*/

.header-villanos {
  @include estilo-header();
}

/*Header Barcos*/

.header-barcos {
  @include estilo-header();
  border: 1px solid #000;
  box-shadow: 2px 4px 7px orange;
}

/*Header Teipulacion de Luffy*/

.header-tripulacion {
  @include estilo-header();
  border: 1px solid #000;
  box-shadow: 2px 4px 7px orange;
}
